//BEGIN: Tree View
#hidden-tabs{
    height: 0px;
    list-style-type: none;
    padding:0; 
    margin:0;
  }
  
  #hidden-tabs{
    height: 0px;
    list-style-type: none;
    padding:0; 
    margin:0;
  }
  #hidden-tabs li{
    height: 0px;
    padding:0; 
    margin:0;
  }
  
  #hidden-tabs li a{
    height: 0px;
    padding:0; 
    margin:0;
  }
  
  
  /*BEGIN TREE CSS*/
  .tree-view-panel{
    background: #fff3d8;
    //background: linear-gradient(90deg, rgba(201, 225, 181, 1) 0%, rgba(231, 242, 222, 1) 100%);
    box-shadow: inset 0 0 20px #d8c18b;
    //background-color: #d8e3e8; 
    height: 100%;
  }
  .tree-left{
        padding: 1rem;    
        //background-color: $color-light-blue;
  }

  .tree,
  .tree ul {
    margin: 0;
    padding: 0;
    list-style: none;    
  }
  .tree ul {
    margin-left: 1em;
    position: relative
  }
  .tree ul ul {
    margin-left: .5em
  }
  .tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
  }
  .tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #393431;
    font-weight: 700;
    position: relative
  }
  .tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
  }
  .tree ul li:last-child:before {
    background: #fff3d8;
    height: auto;
    top: 1em;
    bottom: 0
  }
  .indicator {
    margin-right: 5px;
  }
  .tree li a {
    text-decoration: none;
    color: #a17a23;
    &.active{
      color:#393431;
    }
  }
  .tree li button,
  .tree li button:active,
  .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
  }
//END: Tree View
.tabbable{
  .tab-content{
    border: none;
    padding: 1rem;
    text-align: inherit;
    .tab-pane{
      h4.tab-title{
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 1px solid $color-middle-blue;
        color:$color-middle-blue;
        padding-bottom: 0.5rem;
      }
    }
  }
}