$validation-color: $color-red;
$validation-control-border-color: #fcd1cb;
//BEGIN: Validation
.has-error {
    .form-control,
    .input-icon {
        border-color: $validation-control-border-color !important;
    }
    .form-check-inline {
        input {
            border-color: $validation-control-border-color !important;
        }
    }
    // label{
    //     color: $validation-color;
    // }
    .help-block-error {
        color: $validation-color;
        font-size: 0.8rem;
        display: block;
        width: 100%;
        margin-top: 0.3rem;
    }
    .select-error,
    .select-validation {
        display: flex;
        flex-direction: column;
        .help-block-error {
            order: 2;
        }
        .select2-container .select2-selection--single,
        .select2-container--default .select2-selection--multiple {
            border-color: $validation-control-border-color !important;
        }
    }
    .el-input-number {
        margin-bottom: 1rem;
        .help-block-error {
            position: absolute;
            margin-top: -0.6rem;
        }
    }
    .form-check-inline {
        position: relative;
        span.help-block {
            position: absolute;
            top: 1.5rem;
            min-width: 10rem;
            left: 0;
        }
    }
    .form-select {
        border-color: $validation-control-border-color;
    }
    .avatar-preview-logo,.avatar-preview{
        border-color: $validation-color;
    }
}
.cke-vaildation {
    .ckeditor {
        display: flex;
        flex-direction: column;
        .help-block {
            order: 4;
            color: $validation-color;
            font-size: 0.8rem;
        }
    }
    &.has-error{
        display: flex;
        flex-direction: column;
        .help-block {
            order: 4;
            color: $validation-color;
            font-size: 0.8rem;
        }
    }
}
label.error {
    color: $validation-color;
    font-size: 0.8rem !important;
    display: block;
    width: 100%;
    font-weight: normal;
}
.choose-blue-bar {
    &.has-error {
        position: relative;
        span.help-block {
            position: absolute;
            margin-top: 0.5rem;
        }
    }
}
.select-validation {
    display: flex;
    flex-direction: column;
    .help-block-error {
        order: 2;
    }
    span.help-block-error {
        color: $validation-color;
        font-size: 0.8rem;
        display: block;
        width: 100%;
    }
}
//END: Validation
