//BEGIN: Colors
$color-black:#000;
$color-white:#fff;
$color-frosty-soft-blue:#B2DFDB;
$color-bright-red:#dc3545;
$color-red:#FF0000;
$color-cyan-blue:#1b284c;
$color-light-cyan-blue:#009eec;
$color-light-blue:#b2cdff;
$color-middle-blue:#144297;
$color-tussock:#a17a23;
$color-lavandar:#deedff;
$color-alice-blue:#f1f7ff;
$color-hawakes-blue:#d6e5ff;
$color-black-pearl:#a1a4a7;
$color-light-sky-blue:#d2eaff;
$color-dark-cerlean:#434037;
$color-pattens-blue:#dee2e6;
$color-info-light-blue:#c7e1ff;
$color-light-grayish-green:#edf5e1;
$color-dark-blue:#05386b;
$color-caribbean-green-pearl:#5cdb95;
$color-lime-green:#8ee4af;
$color-mild-green:#e1f5c3;
$color-very-ligh-grey:#e6e6e6;
$color-ghost-white:#f4f0ed;
$color-cornflower-blue:#e2e8fb;
$color-english-blue:#a17a23;
$color-link:#007bff;

//BEGIN:Audit Calendar Colors
$color-calendar-header-bg:#4d4846;
$color-cal-arrow-color:#fff;
$color-audit-list-bg:#d7eafe;
//END: Audit Calendar Colors
//END: Colors


//BEGIN: New Color Schemes
$body-bg:#faf8f5;
$theme-color:#393431;
$theme-secondary-color:#a17a23;
$theme-module-title-bg:#edddbb;
$module-title-text-color:#000;
$menu-bg:#625a54;
$menu-text-color:#fff;
$menu-active-bg:#2b2725;
$audit-panel-header-bg:#f8f1e3;
//END: New Color Schemes